<html>
<hesd>
    <title>EVENTS</title>
    <meta charset="utf-8">
<link rel="stylesheet" href="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\styles\one.css">
<script src="one.js"></script>
</hesd>
<body id="bod">

    <nav id="top" align="center">
    <ul>
       <li><a href="#" class="scroll-link" data-id="home">HOME</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="about">ABOUT</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="events">EVENTS</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="team">OUR TEAM</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="history">HISTORY</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <li><a href="#" class="scroll-link" data-id="contact">CONTACT</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </ul>

    </nav>
  <br><br>
    <hr height="20px" color="green">
<hr height="20px" color="green">
<
    <br><br>
<section id="evt" id="ev0" align="center">


    <p id="par">FTP MAZE</p><br><br>
    <div id="">
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\_.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0059.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0061.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0068.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0070.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0073.jpg" border="4px solid grey">&nbsp&nbsp <br><br>
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0074.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0075.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0081.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0084.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0087.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0091.jpg" border="4px solid grey">&nbsp&nbsp <br><br>
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0093.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0096.jpg" border="4px solid grey" height="125px" width="150px">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0097.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0098.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0100.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0102.jpg" border="4px solid grey">&nbsp&nbsp <br><br>
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0104.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0105.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0111.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0113.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0116.jpg" border="4px solid grey">&nbsp&nbsp
<img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0120.jpg" border="4px solid grey">&nbsp&nbsp <br><br>
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0123.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0134.jpg" border="4px solid grey" height="125px" width="150px">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0136.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0144.jpg" border="4px solid grey" height="125px" width="150px">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0146.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0153.jpg" border="4px solid grey" height="125px" width="150px">&nbsp&nbsp <br><br>
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\ftp\DSC_0170.jpg" border="4px solid grey">&nbsp&nbsp

</div>
<br><br><br>
<hr color="green" height="4px">
<br><br>


</section>
 <footer id="foot" width="1500px">

 <p>Copyright © VIT UNIVERSITY</p>

 </footer>
</body>
</html>