<html>
<hesd>
    <title>EVENTS</title>
    <meta charset="utf-8">
<link rel="stylesheet" href="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\styles\one.css">
<script src="one.js"></script>
</hesd>
<body id="bod">

    <nav id="top" align="center">
    <ul>
       <li><a href="#" class="scroll-link" data-id="home">HOME</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="about">ABOUT</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="events">EVENTS</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="team">OUR TEAM</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="history">HISTORY</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="contact">CONTACT</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </ul>

    </nav>
  <br><br>
    <hr height="20px" color="green">
<hr height="20px" color="green">
<
    <br><br>
<section id="evt" id="ev0" align="center">
    <p id="par">CODINGO</p><br>
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\cod\1.jpg" border="4px solid black">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\cod\2.jpg" border="4px solid black">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\cod\3.jpg" border="4px solid black">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\cod\4.jpg" border="4px solid black">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\cod\IMG_8885.jpg" border="4px solid black">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\cod\IMG_8895.jpg" border="4px solid black">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\cod\IMG_8909.jpg" border="4px solid black">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\cod\IMG_8923.jpg" border="4px solid black">&nbsp


<br><br><br>
<hr color="green"><br>





</section>
<footer id="foot" width="1500px">

 <p>Copyright © VIT UNIVERSITY</p>

 </footer>
</body>
</html>