<html>
<hesd>
    <title>EVENTS</title>
    <meta charset="utf-8">
<link rel="stylesheet" href="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\styles\one.css">
<script src="one.js"></script>
</hesd>
<body id="bod">

    <nav id="top" align="center">
    <ul>
       <li><a href="#" class="scroll-link" data-id="home">HOME</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="about">ABOUT</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="events">EVENTS</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="team">OUR TEAM</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="history">HISTORY</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <li><a href="#" class="scroll-link" data-id="contact">CONTACT</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </ul>

    </nav>
  <br><br>
    <hr height="20px" color="green">
<hr height="20px" color="green">
<
    <br><br>
<section id="evt" id="ev0" align="center">
<p id="par">GRAVITAS PREMERE LEAGUE</p><br><br>

<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\Auction.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\composited.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IEEE Computer Society.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0358.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0360.jpg" border="4x solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0362.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0363.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0363.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0364.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0366.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0368.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0370.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0372.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0376.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0379.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0385.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0393.jpg" border="4px solid grey">&nbsp
<img src=" C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\gpl\IMG_0400.jpg" border="4px solid grey">&nbsp

<br><br><br><hr color="green" height="4px">

<br><br>


</section>

 <footer id="foot" width="1500px">

 <p>Copyright © VIT UNIVERSITY</p>

 </footer>

</body>
</html>