<!DOCTYPE html>
<html>
<head>
    <title>IEEE Computer Society VIT</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/javascript/scroll.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/ieee-cs.css"/>
</head>
<body>
<section id="history" class="page-section">
    <div class="container-fluid">
        <nav class="nav navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="toggle" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li><a href="#" class="scroll-link" data-id="home">HOME</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">ABOUT US</a></li>
                    <li><a href="#" class="scroll-link" data-id="events">EVENTS</a></li>
                    <li><a href="#" class="scroll-link" data-id="team">OUR TEAM</a></li>
                    <li><a href="#" class="scroll-link" data-id="history">HISTORY</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
    </div>


    <!-- YOUR WORK HERE -->


</section>
