

<!DOCTYPE html>

<head>
        <title>About Us</title>
	<link rel="stylesheet" href="../static/styles/about.css">
        <link rel="shortcut icon" href="../static/images/favicon.ico" >

</head>

<body>

   <header id="head">
     <nav id="nav-wrap">
         <ul id="nav" class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
	    <li><a href="#">Events</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">History</a></li>
         </ul>
     </nav>

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">IEEE-CS</h1>
            <h3>Text</h3>
            <hr />
            <ul class="social">
               <li><a href="#"><img src="../static/images/facebook.png" alt="" /></a></li>
	       <li><a href="#"><img src="../static/images/twitter.webp" alt="" /></a></li>
	       <li><a href="#"><img src="../static/images/google.webp" alt="" /></a></li>
            </ul>
         </div>
      </div>

    </header>



   <section id="about">

      <div class="row">

         <div class="nine columns main-col">

            <h2>About Us</h2>

            <p>Detailed Info</p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Name</span><br>
						   <span>Address Line<br>
						         Address Line
                     </span><br>
						   <span>Contact no.</span><br>
                     <span>Email</span>
		   </p>

               </div>
            </div>
         </div>
      </div>
   </section>


   <footer>

      <div class="row">
        <div class="twelve columns">
            <ul class="social-links">
               <li><a href="#"><img src="../static/images/facebook.png" alt="" /></a></li>
	       <li><a href="#"><img src="../static/images/twitter.webp" alt="" /></a></li>
	       <li><a href="#"><img src="../static/images/google.webp" alt="" /></a></li>
            </ul>
        </div>
      </div>

   </footer>
</body>
</html>