<!DOCTYPE html>
<html>
    <head>
        <title>EVENTS</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\styles\one.css">
        <script src="one.js"></script>
    </head>
    <body id="bod">
        <nav id="top" align="center">
        <ul>
           <li><a href="#" class="scroll-link" data-id="home">HOME</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
           <li><a href="#" class="scroll-link" data-id="about">ABOUT</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
           <li><a href="#" class="scroll-link" data-id="events">EVENTS</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
           <li><a href="#" class="scroll-link" data-id="team">OUR TEAM</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
           <li><a href="#" class="scroll-link" data-id="history">HISTORY</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <li><a href="#" class="scroll-link" data-id="contact">CONTACT</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </ul>
        </nav>
        <br><br>
        <hr height="20px" color="green">
    <hr height="20px" color="green">
        <br><br>
    <section class="evt" id="ev0">
        <br><br>
        <div id="d2">
         <div  id="evt1" align="center" class="cl1">
             <img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\DSC_0097.jpg" align="left" height="450px" width="350px" id="img1"><br><bt><br><br>
             <p id="p21"><a href="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\templates\links for eve.html\ftp.html" target="blank">FTP MAZE</a></p>
    <br><br><br><br>
             <p id="p12">FTP MAZE , an event under gravitas 2014 in which aptitude and programming skills were tested<br>which saw a huge participation and popularity</p>
         </div>
            <br><br><br><br><hr color="green"><br><br>
    <div id="evt2" align=center">

            <img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\IMG_8909.jpg" align="left" height="450px" width="350px" id="img1"><br><br><br><br>
            <p align="center" id="p21"><a href="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\templates\links for eve.html\gpl.html" target="blank">GRAVITAS PREMIER LEAGUE</a></p>
            <br><br>
                     <p align="center" id="p12">GRAVITAS PREMIERE LEAGUE (GPL) , was an event in gravitas conducted and organised by our members<br>which attracted various participants attention<br>Participants had to form a team of 11</p>
    </div>
     <br><br><br>><br><hr color="green">
    <br><br>
        <div id="evt3" align="center">
    <img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\DSC_0257.jpg" align="left" height="450px" width="350px" id="img1"><br><br><br><Br>
    <br><br>
     <p align="center" id="p21"><a href="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\templates\links for eve.html\moz.html"  target="blank"> MOZILLA FIREFOX</a></p>
            <br><br><p id="p12">MOZILLA FIREFOX , was one of the most successful workshop in gravitas 2014.It was a 36 hour workshop.<br>
            Participants were provided with all the softwares involved and knowledge to explore.</p>
    </div>
                     <p align="center">
     <br><br><br><br><hr color="green"><br><br>
    <div id="evt4" align="center">
        <img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\1.jpg" align="left" height="450px" width="350px" id="img1"><br><br><br><br>
         <p align="center" id="p21"><a href="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\templates\links for eve.html\cod.html"  target="blank">CODINGO</a></p>
            <br><br>
                     <p align="center" id="p12">CODINGO , an event organised by the club was one of the most recognised events in gravitas 2013<br>It was conducted to test the aptitude ,logical thinking and coding skills</p>
    </div>
     <br><br><br><br><hr color="green"><br><br>
    <div id="evt5" align="center">
        <img src="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\static\images\img_eve\1 (1).jpg" align="left" height="450px" width="350px" id="img1"><br><br><br><br>
         <p align="center" id="p21"><a href="C:\Users\pshekhar\Pycharm\IEEECS-VIT-Website\templates\links for eve.html\quan.html"  target="blank">QUANTA</a></p>
            <br><br>
                     <p align="center" id="p12">QUANTA is a kind of festival whereby various clubs displaytheir projects<br>
                     Our club has been consistently geetiing appreciation every year.</p>
    </div>
             <br><br><br><br><hr color="green">
        </div>
    </section>
        <br><br>
     <footer id="foot" width="1500px">
         <p>Copyright © VIT UNIVERSITY</p>
     </footer>
    </body>
</html>