<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EVENTS</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css">
        <script src="code.js"></script>
    </head>
<body id="body" align="center">
    <img src="download.png"  height="200px" width="890px" align="left" id="head">
    <img src="images%20(8).jpg" height="200px" width="180px" align="left" id="log">
    <br><br><br><br><br><br><br><br><br><br><br><br>
        <section id="sec">
        <hr color="green" width="1065px" align="left"><br><br>
        <img src="download%20(1).jpg"  width="1075px" height="200px" border="4px solid grey">
    </section>
    <br><hr width="1070px" color="blue" align="left"><br>
    <div>
        <p align="left" id="para2">There are two main college fests conducted in VIT — graVITas and Riviera. GraVITas is a techfest (technology oriented festival) conducted in August/September. Riviera is a sports<br> and cultural festival. According to Organizers for Riviera 2011 it pulls more than 300 participants from over 20 colleges and universities. Rivera 2013 was a bigger success. It saw<br> popular names like Shankar-Ehsaan-Loy, Sukhwinder Singh, Chiyaan Vikram and many more. Further, GraVITas 2012 was a huge success. ParaMek Technologies from New Delhi conducted workshop on Automotive Engineering during the fest which was attended by more than 450 students
        </p>
    </div>
    <br>
    <div id="big">
        <div id="i">
        <a href="gra2013%20(redundant).html" target="blank" > <p align="center" id="gt">GRAVITAS</p> </a>
        <div id="gr">
            <p id="para1">Gravitas 2014 is the annual technical fest of Vellore institute of technology.It is a event
                where technology & creativity mixes. The main focus of the fest is to inspire youths through innovation.
                Challenges and solutions developed by studebts for solving various industrial problem pertaining towards
                Science & technology.
            </p>
        </div>
        <br>
        <a href="gra2013%20(redundant).html" target="blank" border="4px solid red"><img src="download%20(2).jpg" height="150px" width="800px"></a>
        <br>
        <p id="para2">CLICK ON THE ABOVE IMAGE</p>
    </div>
    <br><br><br><hr color="green"><br><br><br>
    <div id="ii"><a href="riv%20(redundant).html" target="blank"><p align="center" id="gt">RIVIERA  AND OTHERS</p></a>
    <div id="rivi">
    <p id="para2">Riviera is VIT University’s ISO certified Annual International Sports and Cultural Carnival. This festival is an endeavour to provide a platform to all individuals to showcase their skills and develop their potential via arts, sports, music, dance, drama, debate or fashion. The four day extravaganza sees participation of students from diverse backgrounds, nationalities and cultures.
    </p>
    </div>
    <br>
    <a href="riv%20(redundant).html" target="blank" border="4px solid red"><img src="images%20(7).jpg" height="150px" width="800px"></a>
    <p align="center" id="para2">
    CLICK ON THE ABOVE IMAGE
    </p>
    <br>
    </div>
     </div>
     <br><br>
     <hr color="red" width="1065px" align="left">
        <footer id="foot" width="1500px">
            <p>Copyright © VIT UNIVERSITY</p>
        </footer>
    </body>
</html>