<html>
<html lang="en">
<head>

<title>GRAVITAS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="main.css">
<script src="code.js"></script>

</head>

<body align="center" id="bo">
<br>
<section id="sect" align="left">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <img src="images.jpg" height="200px" width="750px" border= id="gravi">
<img src="images%20(1).jpg" height ="150px" width ="500px"  id="grav">
</section>
<br><br><marquee id="gt">GRAVITAS</marquee><hr color="green">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div id="w">
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <img src="download.jpg" height="200px" align="left" width="700px"><br><br><br><br><br><br><br>
<p id="paar"><u>EVENTS UNDER GRAVITAS</u></p><hr color="blue" height="4px"><br>

</div>




<br>

<section>


<p id="par">FTP MAZE</p><br><br>
<img src="_.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0059.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0061.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0068.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0070.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0073.jpg" border="4px solid grey">&nbsp&nbsp <br><br>
<img src="DSC_0074.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0075.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0081.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0084.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0087.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0091.jpg" border="4px solid grey">&nbsp&nbsp <br><br>
<img src="DSC_0093.jpg" border="4px solid grey">&nbsp&nbsp
<img src="DSC_0096.jpg" border="4px solid grey" height="125px" width="150px">&nbsp&nbsp
<img src="DSC_0097.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0098.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0100.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0102.jpg" border="4px solid grey">&nbsp&nbsp <br><br>
<img src=" DSC_0104.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0105.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0111.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0113.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0116.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0120.jpg" border="4px solid grey">&nbsp&nbsp <br><br>
<img src=" DSC_0123.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0134.jpg" border="4px solid grey" height="125px" width="150px">&nbsp&nbsp
<img src=" DSC_0136.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0144.jpg" border="4px solid grey" height="125px" width="150px">&nbsp&nbsp
<img src=" DSC_0146.jpg" border="4px solid grey">&nbsp&nbsp
<img src=" DSC_0153.jpg" border="4px solid grey" height="125px" width="150px">&nbsp&nbsp <br><br>
<img src=" DSC_0170.jpg" border="4px solid grey">&nbsp&nbsp


<br><br><br>
<hr color="green" height="4px">
<br><br>
<p id="par">GRAVITAS PREMERE LEAGUE</p><br><br>

<img src="Auction.jpg" border="4px solid grey">&nbsp
<img src="composited.jpg" border="4px solid grey">&nbsp
<img src="IEEE%20Computer%20Society.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0358.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0360.jpg" border="4x solid grey">&nbsp
<img src=" IMG_0362.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0363.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" IMG_0363.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" IMG_0364.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0366.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0368.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0370.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0372.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0376.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0379.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" IMG_0385.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0393.jpg" border="4px solid grey">&nbsp
<img src=" IMG_0400.jpg" border="4px solid grey">&nbsp

<br><br><br><hr color="green" height="4px">



<br><br>
<p id="par">JUMBLE CODING</p>
<br><br>
<img src=" IMG_8883.jpg" border="4px solid grey">&nbsp
<img src=" IMG_8885.jpg" border="4px solid grey">&nbsp
<img src=" IMG_8889.jpg" border="4px solid grey">&nbsp
<img src=" IMG_8894.jpg" border="4px solid grey">&nbsp
<img src=" IMG_8895.jpg" border="4px solid grey">&nbsp
<img src=" IMG_8897.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" IMG_8900.jpg" border="4px solid grey">&nbsp
<img src=" IMG_8903.jpg" border="4px solid grey">&nbsp
<img src=" IMG_8909.jpg" border="4px solid grey">&nbsp
<img src=" IMG_8918.jpg" border="4px solid grey">&nbsp
<img src=" IMG_8923.jpg" border="4px solid grey">&nbsp
<img src=" IMG_9022.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" IMG_9023.jpg" border="4px solid grey">&nbsp
<img src=" IMG_9030.jpg" border="4px solid grey">&nbsp


<br><br><br><hr color="green" height="4px"><br>
<br><p id="par">
MOZILLA FIREFOX OS</p>
<br><br>

<img src=" DSC_0191.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0194.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0195.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0196.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0198.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0209.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" DSC_0213.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0218.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0219.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0226.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0228.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0229.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" DSC_0231.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0234.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0235.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0236.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0237.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0248.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" DSC_0250.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0255.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0256.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0257.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0260.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0267.jpg" border="4px solid grey">&nbsp <br><br>
<img src=" DSC_0270.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0273.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0275.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0278.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0288.jpg" border="4px solid grey">&nbsp
<img src=" DSC_0289.jpg" border="4px solid grey">&nbsp

<br><br><hr color="green" height="4px">

</section>
 <footer id="footy">
 
 <p>Copyright © VIT UNIVERSITY</P>
 
 </footer>
<br>

</body>
</html>