<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Timeline | IEEE-CS</title>
    <link rel="shortcut icon" href="http://static.tmimgcdn.com/img/favicon.ico">
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-glyphicons.css">
    <link rel="stylesheet" type="text/css" media="all" href="../css/styles.css">
    <!--<link rel="stylesheet" type="text/css" href="tlt.css">-->
    <script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../js/tl.js"></script>
</head>

<body>
<div class="container">
    <header class="page-header">
        <h1>Backbone Of Our Chapter</h1>
    </header>

    <ul class="timeline">
        <li><div class="tldate" id="date1"style="cursor: pointer;">2014</div></li>
        <div id="2014">
            <li class="timeline-inverted">
                <div class="tl-circ" id="cmukund"></div>
                <div class="timeline-panel" id="mukund">

                    <div class="tl-heading">
                        <h4>Mukund More</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/MukundMore.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="ckashish"></div>
                <div class="timeline-panel" id="kashish">
                    <div class="tl-heading">
                        <h4>Kashish Singhal</h4>
                    </div>
                    <div id="img2">
                        <img src="http://res.cloudinary.com/design-team/KashishSinghal.jpg" alt="Kashish Singhal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey">
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="canirudh"></div>
                <div class="timeline-panel" id="anirudh">
                    <div class="tl-heading">
                        <h4>Anirudh Jitani</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/AnirudhJitani.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="canshul"></div>
                <div class="timeline-panel" id="anshul">
                    <div class="tl-heading">
                        <h4>Anshul Kalra</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/AnshulKalra.jpg" alt="Anshul Kalra" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey">
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="cpranjal"></div>
                <div class="timeline-panel" id="pranjal">
                    <div class="tl-heading">
                        <h4>Pranjal Daga</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/PranjalDaga.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="caneesh"></div>
                <div class="timeline-panel" id="aneesh">
                    <div class="tl-heading">
                        <h4>Aneesh Neelam</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/AneeshNeelam.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="cakshay"></div>
                <div class="timeline-panel" id="akshay">
                    <div class="tl-heading">
                        <h4>Akshay Dixit</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/AkshayDixit.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="cnaman"></div>
                <div class="timeline-panel" id="naman">
                    <div class="tl-heading">
                        <h4>Naman Jain</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/NamanJain.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="cshubhamgoel"></div>
                <div class="timeline-panel" id="shubhamgoel">
                    <div class="tl-heading">
                        <h4>Shubham Goel</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/ShubhamGoel.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
        </div>

        </li>
        <li><div class="tldate"id="date2" style="cursor: pointer;">2015</div></li>
        <div id="2015">
            <li class="timeline-inverted">
                <div class="tl-circ" id="ckunal"></div>
                <div class="timeline-panel"  id="kunal">
                    <div class="tl-heading">
                        <h4>Kunal Nagpal</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/KunalNagpal.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="caman"></div>
                <div class="timeline-panel" id="aman">
                    <div class="tl-heading">
                        <h4>Aman Manawat</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/AmanManawat.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="ckaranjasani"></div>
                <div class="timeline-panel" id="karanjasani">
                    <div class="tl-heading">
                        <h4>Karan Jasani</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/KaranJasani.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="camiti"></div>
                <div class="timeline-panel" id="amiti">
                    <div class="tl-heading">
                        <h4>Amiti Dave</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/AmitiDave.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="cumang"></div>
                <div class="timeline-panel" id="umang">
                    <div class="tl-heading">
                        <h4>Umang Palan</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/UmangPalan.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="carpit"></div>
                <div class="timeline-panel" id="arpit">
                    <div class="tl-heading">
                        <h4>Arpit Sabhrewal</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/ArpitSabhrewal.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="cdeep"></div>
                <div class="timeline-panel" id="deep">
                    <div class="tl-heading">
                        <h4>Deep Pradhan</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/DeepPradhan.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="cvikhyati"></div>
                <div class="timeline-panel" id="vikhyati">
                    <div class="tl-heading">
                        <h4>Vikhyati Singh</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/VikhyatiSingh.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="ctannika"></div>
                <div class="timeline-panel" id="tannika">
                    <div class="tl-heading">
                        <h4>Tannika Aggarwal</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/TannikaAggarwal.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="cankit"></div>
                <div class="timeline-panel" id="ankit">
                    <div class="tl-heading">
                        <h4>Ankit Saharia</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/AnkitSaharia.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                </div>
        </div>
        </li>
        <li><div class="tldate" id="date3" style="cursor: pointer;">2016</div></li>
        <div id="2016">
            <li class="timeline-inverted">
                <div class="tl-circ" id="cayush"></div>
                <div class="timeline-panel"  id="ayush">
                    <div class="tl-heading">
                        <h4>Ayush Agarwal</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/AyushAgarwal.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                    <div class="tl-body">
                        <p>President</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="ckaran"></div>
                <div class="timeline-panel" id="karan">
                    <div class="tl-heading">
                        <h4>Karan Pittie</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/KaranPittie.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    <div class="tl-body">
                        <p>Vice-president</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="cshivam"></div>
                <div class="timeline-panel" id="shivam">
                    <div class="tl-heading">
                        <h4>Shivam Mathur</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/ShivamMathur.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                    <div class="tl-body">
                        <p>Vice-President</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="cgaurav"></div>
                <div class="timeline-panel" id="gaurav">
                    <div class="tl-heading">
                        <h4>Gaurav Agerwela</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/GauravAgerwala.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    <div class="tl-body">
                        <p>Secretary</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="csukriti"></div>
                <div class="timeline-panel" id="sukriti">
                    <div class="tl-heading">
                        <h4>Sukriti Sinha</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/SukritiSinha.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                    <div class="tl-body">
                        <p>Design Head</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="cjill"></div>
                <div class="timeline-panel" id="jill">
                    <div class="tl-heading">
                        <h4>Jill Padalia</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/JillPadalia.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    <div class="tl-body">
                        <p>Financial Secretary</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="csomya"></div>
                <div class="timeline-panel" id="somya">
                    <div class="tl-heading">
                        <h4>Somya Mehta</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/SomyaMehta.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                    <div class="tl-body">
                        <p>Public Relations Officer</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="cvinay"></div>
                <div class="timeline-panel" id="vinay">
                    <div class="tl-heading">
                        <h4>Vinay Gupta</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/VinayGupta.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    <div class="tl-body">
                        <p>Technical Head</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ" id="creetuparna"></div>
                <div class="timeline-panel" id="reetuparna">
                    <div class="tl-heading">
                        <h4>Reetuparna Mukherjee</h4>
                    </div>
                    <div id="img1">
                        <img src="http://res.cloudinary.com/design-team/ReetuparnaMukherjee.jpg" alt="Ayush Agarwal" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    </div>
                    <div class="tl-body">
                        <p>Operations Head</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="tl-circ" id="cvaishnavi"></div>
                <div class="timeline-panel" id="vaishnavi">
                    <div class="tl-heading">
                        <h4>Vaishnavi Gunta</h4>
                    </div>
                    <img src="http://res.cloudinary.com/design-team/VaishnaviGunta.jpg" alt="PranjalDaga" class="img-circle" width="104" height="104" style="float: right; box-shadow: 2px 2px 0px grey" >
                    <div class="tl-body">
                        <p>Marketing Head</p>
                    </div>
                </div>
        </div>
        </li>
        <li><div class="tldate" id="date6"style="cursor: pointer;">Core-Members</div></li>
        <div id="members">
            <div id="2017">
                <div class="col-sm-3">Tushar Narula</div>
                <div class="col-sm-3">Waris Chutani</div>
                <div class="col-sm-3">Tanisha Chawla</div>
                <div class="col-sm-3">Sakshi Anand</div>
                <br>
                <div class="col-sm-3">Paramjeet</div>
                <div class="col-sm-3">Saurabh Mathur</div>
                <div class="col-sm-3">Nikhil</div>
                <div class="col-sm-3">Pradhymn Pradeep</div>
                <div class="col-sm-3">Ayushi Singh</div>
                <div class="col-sm-3">Harshita Dua</div>
                <div class="col-sm-3">Rohan Prateek</div>
                <div class="col-sm-3">Abhay Jain</div>
                <div class="col-sm-3">Aditya Jagdev</div>
                <div class="col-sm-3">Rugved Manoorker</div>
                <div class="col-sm-3">Shubham Mathur</div>
                <div class="col-sm-3">Vishal Pagey</div>
                <div class="col-sm-3">Shubham Jain</div>
            </div>
        </div>
    </ul>
</div>

</body>
</html>