<!DOCTYPE html>
<html>
<head>
    <title>IEEE Computer Society VIT</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/scripts/scroll.js"></script>
    <link rel="stylesheet" href="../static/styles/ieee-cs.css"/>
    <!-- <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'> -->
</head>
<body>
<section id="home" class="page-section">
    <div class="container-fluid">
        <nav class="nav navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-link" data-id="home">HOME</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">ABOUT US</a></li>
                    <li><a href="#" class="scroll-link" data-id="events">EVENTS</a></li>
                    <li><a href="#" class="scroll-link" data-id="team">OUR TEAM</a></li>
                    <li><a href="#" class="scroll-link" data-id="history">HISTORY</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- HOME SECTION -->
</section>
<section id="about" class="page-section">
    <!--ABOUT US SECTION -->
</section>
<section id="events" class="page-section">
    <!--EVENTS Section -->
</section>
<section id="team" class="page-section">
    <!-- our team section -->
</section>
<section id="history" class="page-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="../static/images/history/2013/mukund%20more.jpg" alt="Mukund More" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="" alt="Kashish Singhal" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="" alt="Anirudh Jitani" class="" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="" alt="Anshul Kalra" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="" alt="Pranjal Daga" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="" alt="Aneesh Neelam" class="" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="" alt="Akshay Dixit" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="" alt="Naman Jain" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="" alt="Shubham Goel" class="" />
            </div>
        </div>
    </div>
    <!--past board section -->
</section>
<section id="contact" class="page-section">
    <!-- contact us section -->
</section>
<div class="pull-right" id="go-top">
    <a class="scroll-link btn btn-info btn-sm" href="#" data-id="home">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</div>
</body>
</html>