<!DOCTYPE html>
<html>
    <head>
        <title>IEEE Computer Society VIT</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles/fonts.css" />
        <link rel="stylesheet" href="../static/styles/indexPage.css">
        <link rel="stylesheet" href="../bower_components/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <script src="../bower_components/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../static/scripts/scroll.js"></script>
        <link rel="stylesheet" href="../static/styles/ieee-cs.css"/>
        <link rel="stylesheet" href="../static/styles/events.css"/>
        <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/styles/team.css" />
        <script src="../static/scripts/modernizr.js"></script>
    </head>
    <body>
    <div class="container-fluid">
        <nav class="nav navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-link" data-id="home"><h4>Home</h4></a></li>
                    <li><a href="#" class="scroll-link" data-id="about"><h4>About Us</h4></a></li>
                    <li><a href="#" class="scroll-link" data-id="events"><h4>Events</h4></a></li>
                    <li><a href="#" class="scroll-link" data-id="team"><h4>Our Team</h4></a></li>
                    <li><a href="#" class="scroll-link" data-id="history"><h4>History</h4></a></li>
                    <li><a href="#" class="scroll-link" data-id="contact"><h4>Contact Us</h4></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <section id="home" class="page-section">
        <div class="jumbotron" style="">
            <img src="http://res.cloudinary.com/design-team/2014.jpg" style="width: 70%"/>

            <h1> Welcome to IEEE Computer Society</h1>
        </div>

        <!-- HOME SECTION -->
    </section>
    <section id="about" class="page-section">
        <!--ABOUT US SECTION -->
        <div class="jumbotron" style="width: 80%; background: rgba(0,0,0,0.8);margin-left: 10%;padding: 5%">
            <h1 style="padding-bottom:1%">About Us</h1>

            <h3>IEEE Computer Society is the world's premier organization of computing professionals,
                with rich offerings in publications, standards, certifications, conferences, and more. Our purpose and scope
                is “to advance the theory,
                practice, and application of computer and information processing science and technology” and the
                “professional standing of its members.”
                The CS is the largest of 38 technical societies organized under the IEEE Technical Activities Board.</h3>
            <img src="http://res.cloudinary.com/ieeecsvit/events/other/2011/1.jpg" height="750px" width="900px"/>
        </div>
    </section>

    <section id="events" >
        <div class="jumbotron" style="...">
            <h1 style="...">Events</h1>

        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->


                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/mozilla/65.jpg" alt="mozilla" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>MOZILLA FIREFOX OS APP DAYS</h3>
                        </div>
                    </div>


                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/mozilla/3.jpg" alt="mozilla" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>MOZILLA FIREFOX OS APP DAYS</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/mozilla/19.jpg" alt="mozilla" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>MOZILLA FIREFOX OS APP DAYS</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/gpl/1.jpg" alt="GPL" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>GraVITas Premier League</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/gpl/21.jpg" alt="GPL" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>GraVITas Premier League</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/gpl/2.jpg" alt="GPL" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>GraVITas Premier League</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/ftp/10.jpg" alt="FTP" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>FTP Maze</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/ftp/17.jpg" alt="FTP" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>FTP Maze</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/ftp/27.jpg" alt="FTP" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>FTP Maze</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/jumble/2.jpg" alt="JC" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>Jumble Coding</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/jumble/3.jpg" alt="JC" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>Jumble Coding</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/jumble/6.jpg" alt="JC" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>Jumble Coding</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/riviera/2015/1.jpg" alt="LM" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>Live Monopoly</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/riviera/2015/2.jpg" alt="LM" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>Live Monopoly</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img class="event-image" src="http://res.cloudinary.com/ieeecsvit/events/riviera/2015/3.jpg" alt="LM" width="720px" height="720px">
                        <div class="carousal-caption">
                            <h3>Live Monopoly</h3>
                        </div>
                    </div>
                </div>
                <div class="carousel-controls">
                <!-- Left and right controls -->
                <a class="left carousel-control" id="left" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                    <li data-target="#myCarousel" data-slide-to="8"></li>
                    <li data-target="#myCarousel" data-slide-to="9"></li>
                    <li data-target="#myCarousel" data-slide-to="10"></li>
                    <li data-target="#myCarousel" data-slide-to="11"></li>
                    <li data-target="#myCarousel" data-slide-to="12"></li>
                    <li data-target="#myCarousel" data-slide-to="13"></li>
                    <li data-target="#myCarousel" data-slide-to="14"></li>
                </ol>
                <a class="right carousel-control" id="right" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
            </div>
        </div>
    </div>
    </section>

    <div id="effect-4">
    <section id="team" class="page-section">
        <!-- our team section -->
        <div class="jumbotron">
            <h1>Our Team</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/12/KunalNagpal.jpg" alt="Kunal Nagpal" class="img-70"/>
                    <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                    </figcaption>
                </figure>
                    <h3>Kunal Nagpal</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/12/AmanManawat.jpg" alt="Aman Manawat" class=""/>
                    <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                    </figcaption>
                </figure>
                    <h3>Aman Manawat</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/12/KaranJasani.jpg" alt="Karan Jasani" class="img-70"/>
                    <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Karan Jasani</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/12/AmitiDave.jpg" alt="Amiti Dave" class=""/>
                    <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Amiti Dave</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/12/UmangPalan.jpg" alt="Umang Palan" class=""/>
                    <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Umang Palan</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/12/ArpitSabhrewal.jpg" alt="Arpit Sabhrewal" class=""/>
                    <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Arpit Sabhrewal</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/12/DeepPradhan.jpg" alt="Deep Pradhan" class=""/>
                    <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Deep Pradhan</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/12/VikhyatiSingh.jpg" alt="Vikhyati Singh" class=""/>
                    <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Vikhyati Singh</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/12/TannikaAggarwal.jpg" alt="Tannika Aggarwal"
                         class=""/>
                    <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Tannika Aggarwal</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 ol-sm-offset-3">
            <figure>
                <img src="http://res.cloudinary.com/ieeecsvit/members/12/AnkitSaharia.jpg" alt="Ankit Saharia" class=""/>
                <figcaption>
                        <h3>Board</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                <h3>Ankit Saharia</h3>
            </div>
        </div>

        <!--Third year core-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/AyushAgarwal.jpg" alt="Ayush Agarwal" class="img-70"/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                    </figcaption>
                </figure>
                    <h3>Ayush Agarwal</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/ShivamMathur.jpg" alt="Shivam Mathur" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                    </figcaption>
                </figure>
                    <h3>Shivam Mathur</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/KaranPittie.jpg" alt="Karan Pittie" class="img-70"/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Karan Pittie</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/SomyaMehta.jpg" alt="Somya Mehta" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Somya Mehta</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/AmolGautam.jpg" alt="Amol Gautam" class=""/>
                    <figcaption>
                        <h3>Head</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Amol Gautam</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/GauravAgerwala.jpg" alt="Gaurav Agerwala" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Gaurav Agerwala</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/ReetuparnaMukherjee.jpg" alt="Reetuparna Mukherjee" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Reetuparna Mukherjee</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/JillPadalia.jpg" alt="Jill Padalia" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Jill Padalia</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/NishantNigam.jpg" alt="Nishant Nigam"
                         class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Nishant Nigam</h3>
                </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/HarshSaxena.jpg" alt="Harsh Saxena" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Harsh Saxena</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/VinayGupta.jpg" alt="Vinay Gupta" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Vinay Gupta</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/RishabhSaxena.jpg" alt="Rishabh Saxena" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Rishabh Saxena</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/AbhishekChand.jpg" alt="Abhishek Chand" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Abhishek Chand</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/UdishaMadnani.jpg" alt="Udisha Madnani" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Udisha Madnani</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/VaishnaviGunta.jpg" alt="Vaishnavi Gunta" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Vaishnavi Gunta</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/HarshMalik.jpg" alt="Harsh Malik" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Harsh Malik</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/13/SukritiSinha.jpg" alt="Sukriti Sinha" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Sukriti Sinha</h3>
                </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            <figure>
                <img src="http://res.cloudinary.com/ieeecsvit/members/13/ArjunBlouria.jpg" alt="Arjun Blouria" class=""/>
                <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                <h3>Arjun Blouria</h3>
            </div>
        </div>
        <!--Second Year Core-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/VishalPagey.jpg" alt="Vishal Pagey" class="img-70"/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                    </figcaption>
                </figure>
                    <h3>Vishal Pagey</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/TanishaChawla.jpg" alt="Tanisha Chawla" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                    </figcaption>
                </figure>
                    <h3>Tanisha Chawla</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/SakshiAnand.jpg" alt="Sakshi Anand" class="img-70"/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Sakshi Anand</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/RohanPratik.jpg" alt="Rohan Pratik" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Rohan Prateek</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/AyushiSrivastava.jpg" alt="Ayushi Srivastava" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Ayushi Srivastava</h3>
                </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/ShubhamMathur.jpg" alt="Shubham Mathur" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Shubham Mathur</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/TusharNarula.jpg" alt="Tushar Narula" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Tushar Narula</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/RugvedManoorkar.jpg" alt="Rugved Manoorkar" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Rugved Manoorkar</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/AbhayJain.jpg" alt="Abhay Jain" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Abhay Jain</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/HarshitaDua.jpg" alt="Hashita Dua" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Hashita Dua</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/NikhilRao.jpg" alt="Nikhil Rao" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Nikhil Rao</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/SaurabhMathur.jpg" alt="Saurabh Mathur" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Saurabh Mathur</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/ShubhamJain.jpg" alt="Shubham Jain" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Shubham Jain</h3>
                </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/WarisChutani.jpg" alt="Waris Chutani" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Waris Chutani</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/PradhyumnPradeep.jpg" alt="Pradhyumn Pradeep" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Pradhyumn Pradeep</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <figure>
                    <img src="http://res.cloudinary.com/ieeecsvit/members/14/AdityaJagdev.jpg" alt="Aditya Jagdev" class=""/>
                    <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                    <h3>Aditya Jagdev</h3>
                </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            <figure>
                <img src="http://res.cloudinary.com/ieeecsvit/members/14/HarshalVarday.jpg" alt="Harshal" class=""/>
                <figcaption>
                        <h3>Core</h3>
                        <span>Placeholder</span>
                </figcaption>
                </figure>
                <h3>Harshal Varday</h3>
            </div>
        </div>
    </section>
    </div>
    <section id="history" class="page-section">
        <div class="jumbotron">
            <h1>History</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://res.cloudinary.com/ieeecsvit/members/11/MukundMore.jpg" alt="Mukund More" class="img-70"/>
                    <h3>Mukund More</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://res.cloudinary.com/ieeecsvit/members/11/KashishSinghal.jpg" alt="Kashish Singhal" class=""/>
                    <h3>Kashish Singhal</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://res.cloudinary.com/ieeecsvit/members/11/AnirudhJitani.jpg" alt="Anirudh Jitani" class="img-70"/>
                    <h3>Anirudh Jitani</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://res.cloudinary.com/ieeecsvit/members/11/AnshulKalra.jpg" alt="Anshul Kalra" class=""/>
                    <h3>Anshul Kalra</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://res.cloudinary.com/ieeecsvit/members/11/PranjalDaga.jpg" alt="Pranjal Daga" class=""/>
                    <h3>Pranjal Daga</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://res.cloudinary.com/ieeecsvit/members/11/AneeshNeelam.jpg" alt="Aneesh Neelam" class=""/>
                    <h3>Aneesh Neelam</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://res.cloudinary.com/ieeecsvit/members/11/AkshayDixit.jpg" alt="Akshay Dixit" class=""/>
                    <h3>Akshay Dixit</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://res.cloudinary.com/ieeecsvit/members/11/NamanJain.jpg" alt="Naman Jain" class=""/>
                    <h3>Naman Jain</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://res.cloudinary.com/ieeecsvit/members/11/ShubhamGoel.jpg" alt="Shubham Goel" class=""/>
                    <h3>Shubham Goel</h3>
                </div>
            </div>
        </div>
        <!--past board section -->
    </section>
    <section id="contact" class="page-section">
        <!-- contact us section -->
        <div class="jumbotron">
            <h1>Contact Us</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://www.twitter.com/ieeecsvit">
                    <img src="../static/images/misc/twitter.png" style="float: right"
                         alt="https://www.twitter.com/ieeecsvit" class=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://www.facebook.com/ieeecsvit">
                    <img src="../static/images/misc/facebook.webp" style="margin-left: 40%"
                         alt="https://www.facebook.com/ieeecsvit" class=""/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="mailto:ieeecs@vit.ac.in">
                    <img src="../static/images/misc/mail.webp" alt="ieeecs@vit.ac.in" class=""/>
                </a>
            </div>
        </div>
    </section>
    <div class="pull-right" id="go-top">
        <a class="scroll-link btn btn-info btn-sm" href="#" data-id="home">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>
    <script src="../static/scripts/touch.js"></script>
    </body>
</html>