<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
    <meta charset="utf-8">
    <link rel="icon" href="../images/favicon.ico">
    <title>IEEE Computer Society VIT</title>
      <!-- CSS  -->
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="../css/mat1.css" type="text/css" rel="stylesheet" media="screen,projection"/><!--nobody touch this,will change myself-->
      <link href="../static/styles/style1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="parallax-container" style="height:100vh">
    	<div class="parallax">
        <img src="../images/keyboard.png" style="background-position:center top;height:100vh;"> <!-- Will Change This-->
      </div>
    </div>
  </body>
</html>
