<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<link rel="icon" href="../images/favicon.ico">
<title>IEEE Computer Society VIT</title>
  <!-- CSS  -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/mat1.css" type="text/css" rel="stylesheet" media="screen,projection"/><!--nobody touch this,will change myself-->

</head>

<body>
<div class="parallax-container" style="height:93vh">
	<div class="parallax">
<img src="../images/parallax2.jpg" style="background-position:center top;height:90vh;"> <!-- Will Change This-->
</div>
</div>
 <nav>
<div class="hide-on-med-and-down" style="text-align: center">
<a href="#" class="logo"><img src="../images/white-logo.png" style="height:64px;margin-top:35vh"></a>
</div>
</div></div>
</div>
</nav>
<nav>
	<div class="hide-on-large-only">
	<a href="#" data-activates="mobile-demo" class="button-collapse" style="position:fixed;margin-top:-50px;z-index:999"><i class="material-icons">menu</i></a>
	<img class="centered" src="../images/logo.gif" width="100%" style="padding-top:10em">
	</div>
	  <ul class="side-nav" id="mobile-demo">
		<img  src="../images/cs1.gif" class="side-logo">
		<li class="tab"><a href="#" onclick="closer()">Home</a></li>
		<li class="tab"><a href="#events" onclick="closer()">Events</a></li>
		<li class="tab"><a href="#team" onclick="closer()">Team</a></li>
		<li class="tab"><a href="#contacts" onclick="closer()">Contact</a></li>
	  </ul>
	</div>
</nav>

<div class="rightnav hide-on-med-and-down">
<ul>
	<li ><a href="#"class="sliding-middle-out" style="padding:0 1em 0 1em">Home</a></li>
	<li ><a  href="#events"class="sliding-middle-out" style="padding:0 1em 0 1em">Events</a></li>
	<li ><a href="#team" class="sliding-middle-out" style="padding:0 1em 0 1em">Our Team</a></li>
	<li ><a href="#contacts" class="sliding-middle-out" style="padding:0 1em 0 1em">Contact Us</a></li>
</ul>
</div>
<div style="position:relative;z-index:1;" class="section">
  <div class="row container">
  
	  <h2 class="header scrollspy" id="events">Events</h2>
	  <p class="grey-text text-darken-3 lighten-3">Our famous events have always been the talking points be it gravitas or riviera, come and have a look at what we have for you this time</p>

  <div class="row">
  
<div class="col s12 m6 l6 pull-l1">
  <div class="card medium">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="../images/office.jpg">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">Gravitas Primier League<i class="material-icons right">more_vert</i></span>
	  
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Gravitas Primier League<i class="material-icons right">close</i></span>
	  <p>Description of event</p>
	</div>
  </div>
  </div>

<div class="col s12 m6 l6 push-l1">
  <div class="card medium">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="../images/office.jpg">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">Jumble Coding<i class="material-icons right">more_vert</i></span>
	 
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Jumble Coding<i class="material-icons right">close</i></span>
	  <p>Description of event</p>
	</div>
  </div>
  </div>

  <div class="col s12 m6 l6 pull-l1">
  <div class="card medium">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="../images/office.jpg">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">FTP<i class="material-icons right">more_vert</i></span>
	  
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">FTP<i class="material-icons right">close</i></span>
	  <p>Description of event</p>
	</div>
  </div>
  </div>

  <div class="col s12 m6 l6 push-l1">
  <div class="card medium">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="../images/office.jpg">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">Live Monopoly<i class="material-icons right">more_vert</i></span>
	 
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Live Monopoly<i class="material-icons right">close</i></span>
	  <p>Description of event</p>
	</div>
  </div>
  </div>
			

  </div>

  </div>
  </div>


<div style="position:relative;z-index:1;" class="section">
  <div class="row container" style="width: 90%">
  
	  <h2 class="header scrollspy" id="team">The Team</h2>
	  <p class="grey-text text-darken-3 lighten-3">The guys and girls who make it all possible</p>

<div class="row" id="Avatar">

</div>

  </div>
  </div>


<footer class="page-footer" id="contacts">
    <div class="container">
    <h4 style="color: white">Contact Us</h4>
      <div class="row">
      <div class="col l6 m6 s6 push-l2">
      	<a href="https://www.github.com/IEEECS-VIT/" class="logo1"><img src="../images/GitHub_Logo.png" height="75" width=auto onmouseover="hover(this);" onmouseout="unhover(this);"></a>
      </div>
      <div class="col l6 m6 s6 pull-l2">
		<a href="https://www.facebook.com/ieeecsvit/" class="logo2"><img src="../images/fb.png" height="75" width=auto onmouseover="hover2(this);" onmouseout="unhover2(this);"></a>
		</div>
</div>
</div>
  </footer>

  <!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

<script>
function closer(){
 document.getElementById("mobile-demo").style.left = "-250px";	
}

$(document).ready(function(){
	$('.scrollspy').scrollSpy(); 
	$('.modal-trigger').leanModal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity:0, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200, // Transition out duration
    }
  );
 });

$(window).on('scroll', function () {
    if ($(window).scrollTop() >= $(window).height())
        {$('.rightnav').addClass('fix');
    	$('.material-icons').addClass('invert');}
    else
       { $('.rightnav').removeClass('fix');
        $('.material-icons').removeClass('invert');}

});

</script>

<script src="../js/init.js"></script>
<script src="../js/images_generate.js"></script>
</body>
</html>
