<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<link rel="icon" href="../images/favicon.ico">
<title>IEEE Computer Society VIT</title>
  <!-- CSS  -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/mat1.css" type="text/css" rel="stylesheet" media="screen,projection"/><!--nobody touch this,will change myself-->

</head>

<body>
<div class="parallax-container" style="height:100vh">
	<div class="parallax">
<img src="../images/background.jpg" style="background-position:center top;height:100vh;"> <!-- Will Change This-->
</div>
</div>
 <nav>
<div class="nav-wrapper hide-on-med-and-down">
<div class="container"><div class="row">
<div class="col m3"><a href="#" class="logo"><img src="../images/logo.gif" style="height:32px"></a></div>
<div class="col m9" style="position:fixed;z-index:0;"><div class="right">
<ul>
	<li ><a href="#projects"class="sliding-middle-out" style="padding:0 1em 0 1em">Projects</a></li>
	<li ><a  href="#events"class="sliding-middle-out" style="padding:0 1em 0 1em">Events</a></li>
	<li ><a href="#team" class="sliding-middle-out" style="padding:0 1em 0 1em">Our Team</a></li>
	<li ><a href="#contacts" class="sliding-middle-out" style="padding:0 1em 0 1em">Contact Us</a></li>
</ul>
</div></div>
</div></div>
</div>
</nav>
<nav>
	<div class="hide-on-large-only">
	<a href="#" data-activates="mobile-demo" class="button-collapse" style="position:fixed;margin-top:-50px;z-index:999"><i class="material-icons" style="color:black">menu</i></a>
	<img class="centered" src="../images/logo.gif" width="100%" style="padding-top:10em">
	</div>
	  <ul class="side-nav" id="mobile-demo">
		<img  src="../images/cs.jpg" class="side-logo">
		<li class="tab"><a href="#" onclick="closer()">Home</a></li>
		<li class="tab"><a href="#projects" onclick="closer()">Projects</a></li>
		<li class="tab"><a href="#events" onclick="closer()">Events</a></li>
		<li class="tab"><a href="#team" onclick="closer()">Team</a></li>
		<li class="tab"><a href="#contacts" onclick="closer()">Contact</a></li>
	  </ul>
	</div>
</nav>

<div style="position:relative;z-index:1;" class="section">
  <div class="row container">
	  <h2 class="header scrollspy" id="projects">Projects</h2>
	  <p class="grey-text text-darken-3 lighten-3">Here at IEEE Computer Society we are involved in a lot of projects and stuff and lorem ipsum deloret sit ami</p>

 <div class="row">

<div class="col s12 m6 l6 pull-l1" >
	<div  max-width="80%" class="card modal-trigger "  href="#modal1">
		<div class="card-content " >
			<span class="card-title black-text">Project 1</span>
			<p>a little summary or synopsis about the project</p>
		</div>
	</div>
</div>
  <div id="modal1" class="modal" style="z-index:999">
	<div class="modal-content">
		<h4>Project 1</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves btn-flat">Done</a>
	</div>
</div>

<div class="col s12 m6 l6 push-l1">
	<div  max-width="80%" class="card modal-trigger " href="#modal2">
		<div class="card-content ">
			<span class="card-title black-text">Project 2</span>
			<p>a little summary or synopsis about the project</p>
		</div>
	</div>
</div>
  <div id="modal2" class="modal">
	<div class="modal-content">
		<h4>Project 2</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves btn-flat">Done</a>
	</div>
</div>

<div class="col s12 m6 l6 pull-l1">
	<div  max-width="80%" class="card modal-trigger " href="#modal3">
		<div class="card-content ">
			<span class="card-title black-text">Project 3</span>
			<p>a little summary or synopsis about the project</p>
		</div>
	</div>
</div>
  <div id="modal3" class="modal">
	<div class="modal-content">
		<h4>Project 3</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves btn-flat">Done</a>
	</div>
</div>

<div class="col s12 m6 l6 push-l1">
	<div  max-width="80%" class="card modal-trigger " href="#modal4">
		<div class="card-content ">
			<span class="card-title black-text">Project 4</span>
			<p>a little summary or synopsis about the project</p>
		</div>
	</div>
</div>
  <div id="modal4" class="modal">
	<div class="modal-content">
		<h4>Project 4</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves btn-flat">Done</a>
	</div>
</div>


</div>
</div>
</div>

  <div style="z-index:-1;" class="parallax-container">
	<div class="parallax"><img src="../images/parallax2.jpg"></div>
  </div>

<div style="position:relative;z-index:1;" class="section">
  <div class="row container">
  
	  <h2 class="header scrollspy" id="events">Events</h2>
	  <p class="grey-text text-darken-3 lighten-3">Our famous events have always been the talking points be it gravitas or riviera, come and have a look at what we have for you this time</p>

  <div class="row">
  
<div class="col s12 m6 l6 pull-l1">
  <div class="card medium">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="../images/office.jpg">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">Event 1<i class="material-icons right">more_vert</i></span>
	  
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Event Name<i class="material-icons right">close</i></span>
	  <p>Description of event</p>
	</div>
  </div>
  </div>

<div class="col s12 m6 l6 push-l1">
  <div class="card medium">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="../images/office.jpg">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">Event 2<i class="material-icons right">more_vert</i></span>
	 
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Event Name<i class="material-icons right">close</i></span>
	  <p>Description of event</p>
	</div>
  </div>
  </div>

  <div class="col s12 m6 l6 pull-l1">
  <div class="card medium">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="../images/office.jpg">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">Event 3<i class="material-icons right">more_vert</i></span>
	  
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Event Name<i class="material-icons right">close</i></span>
	  <p>Description of event</p>
	</div>
  </div>
  </div>

  <div class="col s12 m6 l6 push-l1">
  <div class="card medium">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="../images/office.jpg">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">Event 4<i class="material-icons right">more_vert</i></span>
	 
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Event Name<i class="material-icons right">close</i></span>
	  <p>Description of event</p>
	</div>
  </div>
  </div>
			

  </div>

  </div>
  </div>

  <div style="z-index:-1;" class="parallax-container">
	<div class="parallax"><img src="../images/parallax2.jpg"></div>
  </div>

<div style="position:relative;z-index:1;" class="section">
  <div class="row container">
  
	  <h2 class="header scrollspy" id="team">The Team</h2>
	  <p class="grey-text text-darken-3 lighten-3">The guys and girls who make it all possible</p>

  <div class="row" style="margin-top:5%">

</div>
<div class="row">
<div class="col s6 m4 l3">
	<div class="avatar-frame1" style="z-index:2;"><img src="../images/avatar.jpg"></div>
	<div class="card" style="margin-top:-10px;z-index:1;">
	<h6 id="name">Abishek Aditya</h6></div>
</div>
<div class="col s6 m4 l3">
	<div class="avatar-frame1" style="z-index:2;"><img src="../images/avatar.jpg"></div>
	<div class="card" style="margin-top:-10px;z-index:1;">
	<h6 id="name">Abishek Aditya</h6></div>
</div>
<div class="col s6 m4 l3">
	<div class="avatar-frame1" style="z-index:2;"><img src="../images/avatar.jpg"></div>
	<div class="card" style="margin-top:-10px;z-index:1;">
	<h6 id="name">Abishek Aditya</h6></div>
</div>
<div class="col s6 m4 l3">
	<div class="avatar-frame1" style="z-index:2;"><img src="../images/avatar.jpg"></div>
	<div class="card" style="margin-top:-10px;z-index:1;">
	<h6 id="name">Abishek Aditya</h6></div>
</div>
<div class="col s6 m4 l3">
	<div class="avatar-frame1" style="z-index:2;"><img src="../images/avatar.jpg"></div>
	<div class="card" style="margin-top:-10px;z-index:1;">
	<h6 id="name">Abishek Aditya</h6></div>
</div>
<div class="col s6 m4 l3">
	<div class="avatar-frame1" style="z-index:2;"><img src="../images/avatar.jpg"></div>
	<div class="card" style="margin-top:-10px;z-index:1;">
	<h6 id="name">Abishek Aditya</h6></div>
</div>
<div class="col s6 m4 l3">
	<div class="avatar-frame1" style="z-index:2;"><img src="../images/avatar.jpg"></div>
	<div class="card" style="margin-top:-10px;z-index:1;">
	<h6 id="name">Abishek Aditya</h6></div>
</div>
<div class="col s6 m4 l3">
	<div class="avatar-frame1" style="z-index:2;"><img src="../images/avatar.jpg"></div>
	<div class="card" style="margin-top:-10px;z-index:1;">
	<h6 id="name">Abishek Aditya</h6></div>
</div>
</div>

  </div>
  </div>


  <div style="z-index:-1;" class="parallax-container">
	<div class="parallax"><img src="../images/parallax2.jpg"></div>
  </div>

<div style="position:relative;z-index:1;" class="section">
  <div class="row container">

<h2 class="header scrollspy" id="contacts">Contact Us</h2>
	
<div class="row">

<div class="card col s12 m12 l6 pull-l1 valign">
Insert the social buttons here
</div>

<div class="card col s12 m12 l6 push-l1">
<form style="margin:25px" >

	<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix blue-text">account_circle</i>
		<input id="icon_prefix" type="text" class="validate">
		<label for="icon_prefix">Name</label>
	</div>
	</div>

	<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix blue-text">mail</i>
		<input id="icon_prefix" type="email" class="validate">
		<label for="icon_prefix">E-mail</label>
	</div>
	</div>

	<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix blue-text">subject</i>
		<input id="icon_prefix" type="text" class="validate">
		<label for="icon_prefix">Subject</label>
	</div>
	</div>

	<div class="row">
	<div class="input-field col s12 ">
		<i class="material-icons prefix blue-text">mode_edit</i>
		<textarea id="icon_prefix2" class="materialize-textarea validate"></textarea>
		<label for="icon_prefix2">Message</label>
	</div>
	</div>

	<div class="row">
	<div class="col s12 offset-s3 offset-m4 offset-l4">
	<button class="btn blue lighten-1 waves-effect waves-light" type="submit" name="action">Submit</button>
	</div>
	</div>

	</form>	
</div>

</div>
</div>
</div>


  <!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

<script>
function closer(){
 document.getElementById("mobile-demo").style.left = "-250px";	
}
$(document).ready(function(){
	$('.scrollspy').scrollSpy(); 
	$('.modal-trigger').leanModal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity:0, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200, // Transition out duration
    }
  );
 });

</script>

<script src="../js/init.js"></script>

</body>
</html>
