<html>
<html lang="en">
<head>

<title>RIVIERA AND OTHERS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="main.css">
<script src="code.js"></script>

</head>

<body align="center" id="b">
<br>

<section id="sect" align="left">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <img src="images%20(3).jpg" height="200px" width="750px" border= id="gravi">
<img src="images%20(1).jpg" height="150px" width="500px"  border= id="grav">
</section>



<br>
<hr color="green">
<br>

<div id="w">

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <img src="abc.jpg" height="200px" align="left" width="700px"><br><br>
<p id="paar"><u>EVENTS UNDER RIVIERA AND OTHERS</u></p><br><br><hr color="blue" height="4px"><br>

</div>


<br><hr color="green">
<br>
<p><marquee id="gt">RIVIERA</marquee></p>



<br>

<hr color="blue">
<img src="riv%202014.jpg" border="4px solid black">
<br>
<br>
<hr color="green" height="4px">
<br>
<div id="d">
<p><marquee id="gt">2013</marquee></p><br><br></div><br><br><br>
<p id="par">CODE IN GO</p><br>
<img src="1.jpg" border="4px solid black">&nbsp
<img src="2.jpg" border="4px solid black">&nbsp
<img src="3.jpg" border="4px solid black">&nbsp
<img src="4.jpg" border="4px solid black">&nbsp
<br><br><br>
<hr color="green"><br>




<p id="par">QUANTA</p><br>

<img src="1%20(1).jpg" border="4px solid black">&nbsp
<img src="2(2).jpg" border="4px solid black">&nbsp
<img src="3(3).jpg" border="4px solid black">&nbsp
<br>
<br>
<hr color="green" height="8px"><br><br>

<div id ="d">
<p><marquee id="gt">2014</marquee></p>
</div>
<br>
<p id="par">PYTHON</p><br><br>

<img src="IMG-20140812-WA0000.jpg" border="4px solid black">&nbsp
<img src="IMG-20140812-WA0001.jpg" border="4px solid black">&nbsp
<img src="IMG-20140812-WA0002.jpg" border="4px solid black">&nbsp
<img src="IMG-20140812-WA0003.jpg" border="4px solid black">&nbsp
<img src="IMG-20140812-WA0004.jpg" border="4px solid black">&nbsp
<img src="IMG-20140812-WA0005.jpg" border="4px solid black">&nbsp <br><br>
<img src="IMG-20140812-WA0006.jpg" border="4px solid black">&nbsp
<img src="IMG-20140812-WA0007.jpg" border="4px solid black">&nbsp
<img src="IMG-20140812-WA0008.jpg" border="4px solid black">&nbsp
<img src="IMG-20140812-WA0009.jpg" border="4px solid black">&nbsp

<br><br><br><br><hr color="green">
<br>
<p id="par">CORE COMMITEE SELECTIONS</p>
<br>
<br>

<img src="IMG-20140904-WA0005.jpg" border="4px solid black">&nbsp
<img src="IMG-20140904-WA0006.jpg" border="4px solid black">&nbsp
<img src="IMG-20140904-WA0007.jpg" border="4px solid black">&nbsp
<img src="IMG-20140904-WA0008.jpg" border="4px solid black">&nbsp
<img src="IMG-20140904-WA0009.jpg" border="4px solid black">&nbsp
<img src="IMG-20140904-WA0010.jpg" border="4px solid black">&nbsp <br><br>
<img src="IMG-20140904-WA0011.jpg" border="4px solid black">&nbsp
<img src="IMG-20140904-WA0012.jpg" border="4px solid black">&nbsp
<img src="Selections%20November%202014.jpg" border="4px solid black">&nbsp
<img src="WP_20141030_001.jpg" border="4px solid black">&nbsp
<img src="WP_20141030_002.jpg" border="4px solid black">&nbsp
<img src="WP_20141030_003.jpg" border="4px solid black">&nbsp <br><br>
<img src="WP_20141030_004.jpg" border="4px solid black">&nbsp

<br><br>
<hr color="green" height="10px">
<br>
 <footer id="footy">
 
 <p>Copyright © VIT UNIVERSITY</p>
 
 </footer><br>
</body>

</html>