<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>IEEE CS</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../static/styles/hud.css" />
        <link rel="stylesheet" href="../bower/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="../bower/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <style>
            body {
                background: #000000;
            }
            .wrapper{
                top: 50%;
                width: 100%;
                position:relative;
                transform: translateY(+5%);
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
            #atext, #btext, #ctext, #dtext, #etext, #ftext{
                display:none;
                font-size: 25px;
                color: #00CCFF;
                font-family: 'Ubuntu', sans-serif;
            }
            #text{
                text-align: center;
            }

            #imga:hover #atext{
                display:inline;
            }

            .title{
                color: #00CCFF;
                text-align: center;
            }
        </style>
        <script>
            var i, list = ['a', 'b', 'c', 'd', 'e', 'f'];
            $(document).ready(function(){
                for(i = 0; i < 6; ++i)
                {
                    $("#img" + list[i]).mouseleave(function(){
                        $("#" + list[i] + "text").hide();
                    });
                    $("#img" + list[i]).mouseenter(function(){
                        $("#" + list[i] + "text").show();
                    });
                }
            });
        </script>
    </head>
    <body>
        <div class="wrapper">
            <div class="col-md-12">
                <div class="title">
                    <h1>IEEE Computer Society</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="accordian events">
                    <ul>
                        <li id="imga">
                            <img class="images" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/gpl/14.jpg" height="680px" width="auto"/>
                        </li>
                        <li id="imgb">
                            <img class="images" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/jumble/5.jpg" height="680px" width="auto"/>
                        </li>
                        <li id="imgc">
                            <img class="images" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/ftp/10.jpg" height="680px" width="auto"/>
                        </li>
                        <li id="imgd">
                            <img class="images" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/mozilla/5.jpg" height="680px" width="auto"/>
                        </li>
                        <li id="imge">
                            <img class="images" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/mozilla/19.jpg" height="680px" width="auto"/>
                        </li>
                        <li id="imgf">
                            <img class="images" src="http://res.cloudinary.com/ieeecsvit/events/gravitas/2014/gpl/2.jpg" height="680px" width="auto"/>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="text">
                <div>
                    <span id="atext">GraVITas Premier League</span>
                </div>
                <div>
                    <span id="btext">Jumble Coding</span>
                </div>
                <div>
                    <span id="ctext">FTP Maze</span>
                </div>
                <div>
                    <span id="dtext">Mozilla Firefox OS App Days</span>
                </div>
                <div>
                    <span id="etext">Live Monopoly</span>
                </div>
                <div>
                    <span id="ftext">GraVITas Premier League</span>
                </div>
                </div>
                <div class="col-md-12">
                <div class="title">
                    <h1>Coming Soon</h1>
                </div>
            </div>
        </div>
        <!--
        <script>
            var text = [
            "Our time is now",
            "We do what no one else can",
            "Computing runs through our veins",
            "You haven't seen good until you've seen IEEE CS",
            "There are two kinds of people in the world. We are the third.",
            "To err is human - and to blame it on a computer is even more so.",
            "Think? Why think! We have computers to do that for us.",
            "The community for technology leaders",
            "One thing you should know about us, we are unexpectedly good with computers.",
            "IEEE CS, Inspiring Innovation.",
            "IEEE CS - Driven By Demographics",
            "There's no equal.",
            "Delineating computers,from C to S.",
            "We make it simple. We keep it simple.",
            "I had a dream… and there were 1’s and 0’s everywhere",
            "Roses are #FF0000, skies are #0000FF",
            "Error 195: This tagline is encryted and can be viewed only by geeks",
            "We make IT happen",
            "Technology community for better tomorrow",
            "Computing to discover",
            "Talk is cheap. Show me the code"
            ];
            document.getElementById("quote").innerHTML = text[Math.floor(Math.random() * text.length)];
        </script>-->
    </body>
</html>