<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Begin</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/hud.css" />
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<div id="box">
    <span class="txt">IEEE Computer Society VIT</span><br/>
    <div class="logo"></div>
    <span class="txt" contenteditable spellcheck="false">Coming Soon</span>
    <br/>
    <br/>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="col-md-1"> <img src=../static/images/splash/open-quote.png height=50px width=50px align="left"></div>
<div class="col-md-10"><p id="quote"></p></div>
<div class="col-md-1"><img src=../static/images/splash/close-quote.png height=50px width=50px align="right"></div>
</div>
</div>
</div>
</div>
<script>
        var text = [
         "Our time is now",
         "We do what no one else can",
         "Computing runs through our veins",
         "You haven't seen good until you've seen IEEE CS",
         "There are two kinds of people in the world. We are the third.",
         "To err is human - and to blame it on a computer is even more so.",
         "Think? Why think! We have computers to do that for us.",
         "The community for technology leaders",
         "One thing you should know about us, we are unexpectedly good with computers.",
         "IEEE CS, Inspiring Innovation.",
         "IEEE CS - Driven By Demographics",
         "There's no equal.",
         "Delineating computers,from C to S.",
         "We make it simple. We keep it simple.",
         "I had a dream… and there were 1’s and 0’s everywhere",
         "Roses are #FF0000, skies are #0000FF",
         "Error 195: This tagline is encryted and can be viewed only by geeks",
         "We make IT happen",
         "Technology community for better tomorrow",
         "Computing to discover",
         "Talk is cheap. Show me the code"
        ];
         document.getElementById("quote").innerHTML = text[Math.floor(Math.random() * text.length)];
</script>
</body>
</html>