<!DOCTYPE html>

<head lang="en">
    <meta charset="UTF-8">
    <title>IEEE CS</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="../static/styles/hud.css" />
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
            body {
            background: black;
        }
            .wrapper{
        width: 100%;
        position:relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(+5%);
        }
        #atext, #btext, #ctext, #dtext, #etext, #ftext{
        display:none;    
        font-family: 'Ubuntu', sans-serif;
        font-size: 25px;
        color: #00CCFF;
        }
        #text{
            text-align: center;
        }

        #imga:hover #atext{
        display:inline;
        }

        .title{
          text-align: center;
          color: #00CCFF;
        }
    </style>
    <script>
    $(document).ready(function(){
    $("#imga").mouseleave(function(){
        $("#atext").hide();
    });
    $("#imga").mouseenter(function(){
        $("#atext").show();
    });
        $("#imgb").mouseleave(function(){
        $("#btext").hide();
    });
    $("#imgb").mouseenter(function(){
        $("#btext").show();
    });
        $("#imgc").mouseleave(function(){
        $("#ctext").hide();
    });
    $("#imgc").mouseenter(function(){
        $("#ctext").show();
    });
        $("#imgd").mouseleave(function(){
        $("#dtext").hide();
    });
    $("#imgd").mouseenter(function(){
        $("#dtext").show();
    });
        $("#imge").mouseleave(function(){
        $("#etext").hide();
    });
    $("#imge").mouseenter(function(){
        $("#etext").show();
    });
        $("#imgf").mouseleave(function(){
        $("#ftext").hide();
    });
    $("#imgf").mouseenter(function(){
        $("#ftext").show();
    });

});
    </script>
</head>

<body>
<div class="wrapper">
<div class="col-md-12">
        <div class="title"><h1>IEEE Computer Society</h1></div>
</div>
  <div class="col-md-12">
    <div class="accordian events">
	<ul>
        <div id="imga">
		<li>
			<a href="#">
				<img class="images" src="http://res.cloudinary.com/design-team/image/upload/gravitas/2014/gpl/21.jpg" height="680px" width="auto"/>
			</a>
		</li>
        </div>
        <div id="imgb">
		<li>
			<a href="#">
				<img class="images" src="http://res.cloudinary.com/design-team/image/upload/gravitas/2014/jumble/5.jpg" height="680px" width="auto"/>
			</a>
		</li>
        </div>
        <div id="imgc">
		<li>
			<a href="#">
				<img class="images" src="http://res.cloudinary.com/design-team/image/upload/gravitas/2014/ftp/10.jpg" height="680px" width="auto"/>
			</a>            
		</li>
        </div>
        <div id="imgd">
		<li>
			<a href="#">
				<img class="images" src="http://res.cloudinary.com/design-team/image/upload/gravitas/2014/mozilla/5.jpg" height="680px" width="auto"/>
			</a>          
		</li>
        </div>
        <div id="imge">
		<li>
			<a href="#">
				<img class="images" src="http://res.cloudinary.com/design-team/image/upload/gravitas/2014/mozilla/19.jpg" height="680px" width="auto"/>
			</a> 
		</li>
        </div>
        <div id="imgf">
        <li>
            <a href="#">
                <img class="images" src="http://res.cloudinary.com/design-team/image/upload/gravitas/2014/gpl/2.jpg" height="680px" width="auto"/>
            </a>          
        </li>
        </div>
        </ul>
    </div>
    </div>
    <div id="text">
          <div><span id="atext">GraVITas Premier League</span></div>
          <div><span id="btext">Jumble Coding</span></div>
          <div><span id="ctext">FTP Maze</span></div>
          <div><span id="dtext">Mozilla Firefox OS App Days</span></div>
          <div><span id="etext">Live Monopoly</span></div>
          <div><span id="ftext">GraVITas Premier League</span></div>
    </div>
  <!--<div class="col-md-12">
    <div class="col-md-1"> <img src=../static/images/splash/open-quote.png height=50px width=50px align="left"></div>
    <div class="col-md-10"><p id="quote"></p></div>
    <div class="col-md-1"><img src=../static/images/splash/close-quote.png height=50px width=50px align="right"></div>
    </div>
  </div>-->
  <div class="col-md-12">
    <div class="title"><h1>Coming Soon</h1></div>
  </div>
</div>
<!--
<script>
        var text = [
         "Our time is now",
         "We do what no one else can",
         "Computing runs through our veins",
         "You haven't seen good until you've seen IEEE CS",
         "There are two kinds of people in the world. We are the third.",
         "To err is human - and to blame it on a computer is even more so.",
         "Think? Why think! We have computers to do that for us.",
         "The community for technology leaders",
         "One thing you should know about us, we are unexpectedly good with computers.",
         "IEEE CS, Inspiring Innovation.",
         "IEEE CS - Driven By Demographics",
         "There's no equal.",
         "Delineating computers,from C to S.",
         "We make it simple. We keep it simple.",
         "I had a dream… and there were 1’s and 0’s everywhere",
         "Roses are #FF0000, skies are #0000FF",
         "Error 195: This tagline is encryted and can be viewed only by geeks",
         "We make IT happen",
         "Technology community for better tomorrow",
         "Computing to discover",
         "Talk is cheap. Show me the code"
        ];
         document.getElementById("quote").innerHTML = text[Math.floor(Math.random() * text.length)];
</script>-->
</body>
</html>