html {
    height: 100%;
}

body {
    height: 100%;
    background: rgba(0, 0, 0,0.9);
}
.jumbotron{
    background: none;
    font-family: Menlo!important;

}
.jumbotron h1{
    color: white !important;

}
section {
    min-height: 100%;
}

#go-top {
    position: fixed;
    right: 0;
    bottom: 0;
}