::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x:hidden;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgba(0, 0, 0,0.9);
}
.jumbotron{
    background: none;
    font-family: Menlo!important;
    text-align: center;

}
.jumbotron h1,h3,h4{
    color: white !important;

}
.jumbotron h3,.jumbotron h4{
    color: rgba(255,255,255,0.8) !important;

}
#team .jumbotron,#history .jumbotron{
    padding-top: 0 !important;
    padding-bottom: 0;

}
#team{
    text-align: center;
}
#team img{
    width: 100%;
    max-height: 300px;
}
#history{
    text-align: center;
}
#history img{
    width: 100%;
    max-height: 300px;
}
section {
    min-height: 100%;
}

#go-top {
    position: fixed;
    right: 0;
    bottom: 0;
}

.img-70{
    width: 70%;
    height: 10%;
}
#navbar ul{
    width: 100%;
    text-align: center;
}
#navbar ul li{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-width: 16%;
}
#contact img{
    width: 20%;
    border-radius: 10px;
}