.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #1919FF;
    color: #FFC0CB;
}
.carousel-controls{
 position:relative; 
  width:300px;
  margin:0 auto;
}

.carousel-indicators{
   top:0px; 
}

#left{
	float:left;
	text-align:left;
}

#right{
	float:right;
	text-align:right;
}